.middle-main-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.advantages-of-company {
    display: flex;
    column-gap: 30px;
}

.advantages {
    flex-basis: calc(100% - 90px/4);
}

.advantages-icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-background-color);
    width: 270px;
    height: 120px;

}

.advantages-icon {
    width: 70px;
    height: 70px;
}

.title-advantages {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--title-color);
    margin-top: 30px;
    margin-bottom: 10px;
}

.description-of-benefits {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    color: var(--text-color);
}